/* Project: 02 Front-end Developer Nanodegree - Author: Miguel Sanchez */
/* Global Styles */

body {
    margin-top: 100px;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
  margin: 0.5em 0 2em 0
}

.biopic {
  float: left;
  margin-right: 10px;
  width: 80px;
}

@media only screen and (max-width:460px) {
  .biopic {
    width: 115px;
  }
}

.clear-fix {
  overflow: auto;
}

span {
  padding: 5px;
}

.location-text, .date-text {
  color: #777;
}

.projects img {
  margin: 0 1em 2em 0;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

#page-wrapper a {
  color: #000;
  text-decoration: underline;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.navbar-nav a {
  color: #fff !important;
}

.navbar-collapse, .navbar-header {
  background: #b38f2d;
}

a.navbar-brand {
  color: #fff !important;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Map */

#map {
  display: block;
  height: 100%;
}

#mapDiv {
  height: 400px;
  width: 100%;
}